<configuration><appender name="JSON" class="ch.qos.logback.core.ConsoleAppender"><encoder class="net.logstash.logback.encoder.LogstashEncoder"><customFields>{"service":"dpw-fms"}</customFields><includeMdc>true</includeMdc></encoder></appender><root level="INFO"><appender-ref ref="JSON"/></root></configuration>
